doctype html
html(lang="en")
  head
    include ./head.jade

  body
    .ui.grid.stackable.centered
      .row
        .fourteen.wide.column
          p.section 104學年度第二學期
      .four.wide.column
        .ui.top.attached.block.header
          | 尋找課程
        .ui.bottom.attached.segment
          .ui.fluid.icon.input
            input(type='text', placeholder='Search...')
            i.search.icon
          .ui.fluid.selection.dropdown#search-item
            input(type='hidden', name='user')
            i.dropdown.icon
            .default.text 選取項目
            .menu
              .header
                | 科系
              .item(value="0")
                | 學士班
              .item(value="1")
                | 碩士班
              .item(value="2")
                | 博士班
              .item(value="3")
                | 產專班
              .item(value="4")
                | 碩專班
              .item(value="5")
                | 進修學士班
              .item(value="6")
                | 通識
              .item(value="7")
                | 共同科目
              .item(value="8")
                | 空堂
                
          select.ui.fluid.search.selection.dropdown#search-detail(multiple="")
            option(value="")
              | 選取分類

          .ui.segment


        .ui.top.attached.block.header
          | 目前課程
        .ui.bottom.attached.segment
          .ui.segment

      .ten.wide.column
        .ui.top.attached.block.header
          | 模擬課表
        .ui.bottom.attached.segment
          table.ui.unstackable.very.basic.fixed.table#class_table
            thead
              tr
                each day in ['', '一', '二', '三', '四', '五']
                  if (day == '')
                    th.one.wide= day
                  else
                    th= day
            tbody
              each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
                tr(class-time=i)
                  each j in [0, 1, 2, 3, 4, 5]
                    if (j != 0)
                      td(class-day=j)
                    else
                      td(class="size-small")= i

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js")
    script(src="./js/main.js")
